<%= render :partial => "sidebar" %>
<h1>Listing static_items</h1>

<table>
  <tr>
    <th>List name</th>
    <th>List key</th>
		<th>List item</th>
		<th>&nbsp;</th>
		<th>List image/color</th>
  </tr>

<% @static_items.each do |static_item| %>
  <tr>
    <td><%=h static_item.list_name %></td>
		<td><%=h static_item.list_key %></td>
    <td><%=h static_item.list_item %></td>

		<% if static_item.list_img.nil? != true && static_item.list_img.include?('/') %>
		<td><img src="<%=h static_item.list_img %>"></td>
		<% end %>
		<% if static_item.list_img.nil? != true && static_item.list_img.include?('#') %>
		<td bgcolor="<%=h static_item.list_img %>">&nbsp;</td>
		<% end %>
		<% if static_item.list_img.nil? %>
		<td>&nbsp;</td>
		<% end %>
		<td><%=h static_item.list_img %></td>
    <td><%= link_to 'Show', static_item %></td>
    <td><%= link_to 'Edit', edit_static_item_path(static_item) %></td>
    <td><%= link_to 'Destroy', static_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New static_item', new_static_item_path %>