<%= render :partial => "sidebar" %>
<h1>New static_item</h1>

<% form_for(@static_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :list_name %><br />
    <%= f.text_field :list_name %>
  </p>
  <p>
    <%= f.label :list_key %><br />
    <%= f.text_field :list_key %>
  </p>
  <p>
    <%= f.label :list_item %><br />
    <%= f.text_field :list_item %>
  </p>
  <p>
    <%= f.label :list_img %><br />
    <%= f.text_field :list_img %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', static_items_path %>