<p class="small"><strong>CBD:</strong> | 
	<% @buildings.sort_by {|bdg| bdg[:short_name]}.each do |b| %>
	<% if b.building_zone == "CBD" %>
		[<%= link_to b.short_name, b %>] (<%=h b.opportunity_count %>) | 
	<% end %>
	<% end %>
	<br />
	<strong>METRO:</strong> | 
	<% @buildings.sort_by {|bdg| bdg[:short_name]}.each do |b| %>
	<% if b.building_zone == "Metro" %>
		[<%= link_to b.short_name, b %>] (<%=h b.opportunity_count %>) | 
	<% end %>
	<% end %>
</p>

<h2>
  [<%=h @building.short_name %>] <%=h @building.name %>, <%=h @building.suburb %> <%=h @building.state %> 
	<%= link_to image_tag(get_img_or_colour('StandardIcon','Edit'), :border=>0), edit_building_path(@building) %>
</h2>
<p>
<table cellpadding=4>
	<tr>
		<td width="150px" bgcolor="<%=h get_img_or_colour('StandardColour','table_row') %>">Zone</td>
		<td><%=h @building.building_zone %></td>
	</tr>
	<tr>
		<td bgcolor="<%=h get_img_or_colour('StandardColour','table_row') %>">Opportunities</td>
		<td><%=h @building.opportunity_count %></td>
	</tr>
	<tr>
		<td bgcolor="<%=h get_img_or_colour('StandardColour','table_row') %>">Avail for SIP?</td>
		<td><%=h @building.available_for_sip %></td>
	</tr>
	<tr>
		<td bgcolor="<%=h get_img_or_colour('StandardColour','table_row') %>">Capacity</td>
		<td><%=h @building.capacity %></td>
	</tr>	
	<tr>
		<td bgcolor="<%=h get_img_or_colour('StandardColour','table_row') %>">Floors 
			<%= link_to image_tag(get_img_or_colour('StandardIcon','Edit'), :border=>0), building_floors_path(@building) %></td>
		<td>
			<% @building.floors.sort_by {|flr| flr[:floor_level]}.each do |floor| %>
				<%= link_to floor.floor_level, floor_path(floor) %> 
			<% end %>
			total of <%=h @building.floors_count %> floors.
		</td>
</table>
</p>
<h3>Opportunities</h3>
<table cellpadding=4>
  <tr bgcolor="<%=h get_img_or_colour('StandardColour','table_row') %>">
		<th>Type</th>
		<th>&nbsp;</th>
		<th>BU</th>
    <th>Team</th>
		<th><img src="<%=h get_img_or_colour('StandardIcon','Date') %>"</th>
    <th>From</th>
		<th><img src="<%=h get_img_or_colour('StandardIcon','Person') %>"</th>
		<th>To</th>
		<th><img src="<%=h get_img_or_colour('StandardIcon','Person') %>"</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
  </tr>
	<% mycount = 0 %>
	<% @building.opportunities.sort_by {|opp| [opp[:status],opp[:move_type]]}.each do |opportunity| %>
	<% if mycount % 2 == 0 %>
	  <tr>
	<% else %>
		<tr bgcolor="<%=h get_img_or_colour('StandardColour','table_row') %>">
	<% end %>
			<td><img src="<%=h get_img_or_colour('OpportunityStatus',opportunity.status) %>"/>&nbsp;<img src="<%=h get_img_or_colour('MoveType',opportunity.move_type) %>"/>
			<td bgcolor="<%=h get_img_or_colour('BusinessUnit',opportunity.business_unit) %>">&nbsp;</td>
	    <td width="30px"><%=h opportunity.business_unit %></td>
	    <td width="230px"><%=h opportunity.team %></td>
			<td width="100px"><%=h opportunity.est_date %>
	    <td width="100px"><%=h opportunity.building_short_name_with_floor %></td>
			<td width="30px" align="center"><%=h opportunity.num_seats_departing %></td>
			<td width="100px"><%=h opportunity.to_building_short_name_with_floor %></td>
			<td width="30px" align="center"><%=h opportunity.num_seats_arriving %></td>
	    <td><%= link_to image_tag(get_img_or_colour('StandardIcon','Show'), :border=>0), opportunity %></td>
	    <td><%= link_to image_tag(get_img_or_colour('StandardIcon','Edit'), :border=>0), edit_opportunity_path(opportunity) %></td>
	    <td><%= link_to image_tag(get_img_or_colour('StandardIcon','Destroy'), :border=>0), opportunity, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% mycount += 1 %>
	<% end %>
	</table>

	<br />

	<%= link_to 'New opportunity', new_building_opportunity_path(@building) %> | 
  <%= link_to 'Back', buildings_path %>