<%= render :partial => "sidebar" %>
<h1>Editing floor</h1>

<p>
<% semantic_form_for @floor do |f| %>
	<% f.inputs do %>
		<%=f.input :building, :include_blank => false %>
		<%=f.input :floor_level %>
		<%=f.input :active, :as => :radio %>
		<%=f.input :capacity %>
	<% end %>
	<%= f.buttons %>
<% end %>
</p>

<%= link_to 'Show', floor_path(@floor) %> |
<%= link_to 'Back', building_floors_path(@floor.building) %>