<%= render :partial => "sidebar" %>
<h1>Editing floor</h1>

<% form_for(@floor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :building_id %><br />
    <%= f.collection_select :building_id, @buildings, :id, :short_name %>
  </p>
  <p>
    <%= f.label :floor_level %><br />
    <%= f.text_field :floor_level %>
  </p>
	<p>
		<%= f.label :capacity %><br />
		<%= f.text_field :capacity %>
	</p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', floor_path(@floor) %> |
<%= link_to 'Back', building_floors_path(@floor.building) %>