<%= render :partial => "sidebar" %>
<h1>Editing opportunity</h1>
<p>
	
<% semantic_form_for @opportunity do |f| %>
	<% f.inputs do %>
		<%=f.input :move_type, :as => :select, :collection => get_yaml_keys('MoveType') %>
		<%=f.input :business_unit, :as => :select, :collection => get_yaml_keys('BusinessUnit') %>
		<%=f.input :team, :label => "Short Description / Team"%>
		<%=f.input :est_date, :label => "Estimated Date", :include_blank => false, :end_year => Date.today.year + 10 %>
		<%=f.input :user, :label => "Property Contact" %>
		<%=f.input :notes, :label => "Opportunity Details", :input_html => { :rows => 5 } %>
		<%=f.input :status, :as => :select, :collection => get_yaml_keys('OpportunityStatus') %>
		<%=f.input :key_move, :as => :radio, :hint => "Is this move critical to the NSW Restack Project?" %>
		<%=f.input :applied, :as => :radio, :hint => "Select \'Yes\' once the item has been added to the Programme." %>
	<% end %>
	<%= f.buttons %>
<% end %>
</p>
<p><%= link_to 'Show', @opportunity %> the record as it is | go
<%= link_to 'Back', opportunities_path %> to the list</p>

