<%= render :partial => "sidebar" %>

<h3><%= page_entries_info @opportunities %></h3>
<br />
<table>
  <tr bgcolor="<%=h get_yaml_item('StandardColour','TableRow') %>">
		<th>Type</th>
		<th>&nbsp;</th>
		<th>BU</th>
    <th>Team</th>
		<th>Est. Date</th>
    <th>From</th>
		<th><img src="<%=h get_yaml_item('StandardIcon','Person') %>"</th>
		<th>To</th>
		<th><img src="<%=h get_yaml_item('StandardIcon','Person') %>"</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
  </tr>
	<% mycount = 0 %>
	<% @opportunities.each do |opportunity| %>
	<% if mycount % 2 == 0 %>
	  <tr>
	<% else %>
		<tr bgcolor="<%=h get_yaml_item('StandardColour','TableRow') %>">
	<% end %>
			<td><img src="<%=h get_yaml_item('OpportunityStatus',opportunity.status) %>"/>&nbsp;<img src="<%=h get_yaml_item('MoveType',opportunity.move_type) %>"/>
			<td bgcolor="<%=h get_yaml_item('BusinessUnit',opportunity.business_unit) %>">&nbsp;</td>
	    <td width="30px"><%=h opportunity.business_unit %></td>
	    <td width="230px"><%=h opportunity.team %></td>
			<td width="100px"><%=h opportunity.est_date %>
	    <td width="100px"><%=h get_building_short_name_with_floor(opportunity.floor_id) %></td>
			<td width="30px" align="center"><%=h opportunity.num_seats_departing %></td>
			<td width="100px"><%=h get_building_short_name_with_floor(opportunity.floor_id_arriving) %></td>
			<td width="30px" align="center"><%=h opportunity.num_seats_arriving %></td>
	    <td><%= link_to image_tag(get_yaml_item('StandardIcon','Show'), :border=>0), opportunity %></td>
	    <td><%= link_to image_tag(get_yaml_item('StandardIcon','Edit'), :border=>0), edit_opportunity_path(opportunity) %></td>
	    <td><%= link_to image_tag(get_yaml_item('StandardIcon','Destroy'), :border=>0), opportunity, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% mycount += 1 %>
	<% end %>
	</table>
<br />
<p><small>
	<%= will_paginate @opportunities %>
	Per Page: <%= link_to '5', '/opportunities?per_page=5' %> |
						<%= link_to '10', '/opportunities?per_page=10' %> | 
						<%= link_to '25', '/opportunities?per_page=25' %> | 
						<%= link_to '50', '/opportunities?per_page=50' %> | 
						currently <%=h params[:per_page] -%> items per page
</small></p>

<br />

<%= link_to 'New opportunity', new_building_opportunity_path(params[:building_id] || 1) %>