<%= render :partial => "sidebar" %>
<h1>New opportunity</h1>
<% @building = Building.find(:first, :conditions => "id = #{params[:building_id]}")%>
<p>
<% semantic_form_for [@building, @opportunity] do |f| %>
	<% f.inputs do %>
		<%=f.input :move_type, :as => :select, :collection => get_yaml_keys('MoveType') %>
		<%=f.input :floor, :label => "From Floor", :collection => @floors, :label_method => :building_short_name_with_floor %>
		<%=f.input :num_seats_departing %>
		<%=f.input :floor_id_arriving, :as => :select, :label => "To Floor", :collection => @floors, :label_method => :building_short_name_with_floor %>
		<%=f.input :num_seats_arriving %>
		<%=f.input :business_unit, :as => :select, :collection => get_yaml_keys('BusinessUnit') %>
		<%=f.input :team, :label => "Team Name or Cost Centre \#"%>
		<%=f.input :est_date, :label => "Estimated Date", :include_blank => false %>
		<%=f.input :notes, :label => "Opportunity Details" %>
		<%=f.input :status, :as => :select, :collection => get_yaml_keys('OpportunityStatus') %>
		<%=f.input :key_move, :as => :radio, :hint => "Is this move critical to the NSW Restack Project?" %>
		<%=f.input :applied, :as => :radio, :hint => "Select \'Yes\' once the item has been added to the Programme." %>
	<% end %>
	<%= f.buttons %>
<% end %>
</p>
