<%= render :partial => "sidebar" %>
<h2><%=h @opportunity.name || "" %></h2>
<p>
  <strong><img src="<%=h get_yaml_item('MoveType',@opportunity.move_type) %>"/>&nbsp;<%=h @opportunity.move_type %></strong> opportunity in <strong><img src="<%=h get_yaml_item('OpportunityStatus', @opportunity.status) %>"/>&nbsp;<%=h @opportunity.status %></strong> status. <em>Estimated Date for Delivery: <%=h @opportunity.est_date %> 
	<% if @opportunity.est_date < Time.now.to_date %>
		(<%=h distance_of_time_in_words_to_now(@opportunity.est_date)%> ago)
	<% else %>
		(in <%=h distance_of_time_in_words_to_now(@opportunity.est_date)%>)
	<% end %>
</em></p>
<h3>Opportunity Details</h3>
<table>
	<tr bgcolor="<%=h get_yaml_item('StandardColour','TableRow') %>">
		<th width="100px">From</th>
		<th width="50px"><%= image_tag(get_yaml_item('StandardIcon','Person'), :border=>0) %></th>
		<th width="100px">To</th>
		<th width="50px"><%= image_tag(get_yaml_item('StandardIcon','Person'), :border=>0) %></th>
		<th width="150px">Team</th>
		<th width="150px">Contact</th>
		<th width="300px">Notes</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	<% for opp_item in @opportunity.opportunity_items %>
		<tr bgcolor="<%=cycle "#FFFFFF", get_yaml_item('StandardColour','TableRow') %>">
		<td align="center"><%= opp_item.from_floor.building_short_name_with_floor %></td>
		<td align="center"><%= opp_item.from_floor_seats%></td>
		<td align="center"><%= opp_item.to_floor.building_short_name_with_floor %></td>
		<td align="center"><%= opp_item.to_floor_seats%></td>
		<td>[<%= opp_item.cost_centre -%>]: <%= opp_item.team_name %></td>
		<td><%= opp_item.contact_name %></td>
		<td><%= opp_item.notes %>&nbsp;</td>
		<td><%= link_to image_tag(get_yaml_item('StandardIcon','Edit'), :border=>0), edit_opportunity_item_path(opp_item) %></td>
    <td><%= link_to image_tag(get_yaml_item('StandardIcon','Destroy'), :border=>0), opp_item, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>
<p><%= link_to "New Opportunity Item", new_opportunity_item_path(:opportunity_id => @opportunity.id) %></p>
<p>
  <b>Notes:</b>
  <%=h @opportunity.notes %>
</p>

<p>
  <b>Key move:</b> <%=h @opportunity.key_move %>&nbsp;&nbsp;&nbsp;
  <b>Applied:</b> <%=h @opportunity.applied %>
</p>
<p class="small">
	Created <%=h @opportunity.created_at.in_time_zone %> (<%=h time_ago_in_words(@opportunity.created_at) %> ago)<br />
	Updated <%=h @opportunity.updated_at.in_time_zone %> (<%=h time_ago_in_words(@opportunity.updated_at) %> ago)
</p>
<p>
<%= link_to 'Edit', edit_opportunity_path(@opportunity) %> |
<%= link_to 'Back', :back rescue buildings_path %>
</p>